<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.reg_name {
 max-width:200px;
}
</style>
<head>
<body style = "background-color: #aed6f1">
<nav class="navbar navbar-inverse">
        <div class="container-fluid">
  
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right">
                     <li class="page-scroll">
                      <a href = "http://127.0.0.1:8000/samapp/home"><b>Logout</b></a>
                      </li>
                  </ul>
           </div>
  </div>
  </nav>


<form name="registration_form" id='registration_form' class="form-inline">
<center>
<div>
        <br><br><br><p><b>Enter the location:</b>
        
            
            <input type="text" name="loc" class="form-control input-group-lg reg_name" ><br> 
       

       
        <br><br><p><b>    Enter the area:</b> 
        
        
           <input type="text" name="area" class="form-control input-group-lg reg_name"><br>
           
        
        <br>
        </div>
   <left><br>
   <a href = "http://127.0.0.1:8000/samapp/laundry_search/1/4"><button type="button" class="btn btn-success">Search</button></a>
   <a href = "http://127.0.0.1:8000/samapp/laundry_search/1/4"><button type="button" class="btn btn-primary"> Gps</button>
   </left>
    </div>
        
       

</form>
</body>
</html>
