<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
{% load static %}
body {
    background-image: url("{% static "samapp\6.jpg" %}");
    background-size: 100% 400%;
    background-repeat: no-repeat;
}
</style>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
  
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li class="page-scroll">
               <a href = "http://127.0.0.1:8000/samapp/home"><b>Logout</b></a>
          </li>
      </ul>
</div>
    
  </div>
</nav>
<div class="container">
  <form>
    </div>
    <center><font size="6" color="green"><b>Your order will be delivered on or after 5 days</b></font></center>
    <center><font size="4" color="black"><b>If you require it in less than 5 days then choose any option below</b></font></center>
    <center><font size="3" color="blue"><b>Based on your selection the cost increases</b></font></center>
    
    <br><br>
    <center>
    <div class="radio">
      <label><b><input type="radio" name="optradio">&nbsp1 Day</b></label>
    </div>
    <div class="radio">
      <label><b><input type="radio" name="optradio">2 Days</b></label>
    </div>
    <div class="radio">
      <label><b><input type="radio" name="optradio">3 Days</b></label>
    </div>
    <div class="radio">
      <label><b><input type="radio" name="optradio">4 Days</b></label>
    </div>
    </center>
  </form>
</div>
</div>
   
    
    <a href = "http://127.0.0.1:8000/samapp/register"><center><button type="button" class="btn btn-primary">Next</button></a>
    
    <a href = "http://127.0.0.1:8000/samapp/register"><button type="button" class="btn btn-primary">Skip</button></a>
  </form>
</div>
</body>
</html>
