{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
table, th, td {
    border: 1px solid blue;
    padding: 5px;
}
table {
    border-spacing: 15px;
}
body {
  background-size:100%;
  background-repeat : no-repeat;
  height:500px;

}
</style>
</head>
<body background="{% static "/samapp/1.jpg" %}">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
  
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav navbar-right">
                     <li class="page-scroll">
                     <a href="http://127.0.0.1:8000/samapp/home"><b>Logout</b></a>
                      </li>
                  </ul>
                   <ul class="nav navbar-nav navbar-right">
                     
                       <ul class="nav navbar-nav navbar-right">
                     <li class="page-scroll">
                     <a href="http://127.0.0.1:8000/samapp/signup/"><b>Signup</b></a>
                      </li>
                  </ul>
                   <ul class="nav navbar-nav navbar-right">
                     <li class="page-scroll">
                     <a href="http://127.0.0.1:8000/login/"><b>login</b></a>
                      </li>
                  </ul>
                  </ul>
           </div>
  </div>
  </nav>
  <div class="wrapper">
       <img src="pic_1.jpg" class="img-responsive" alt="Responsive image">
        <div class="sol-sm-6">
      
        </div>
     </div>
</body>
</html>

